/*this is the style sheet for the adminDashboard. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color: #003e3e; /* Strong teal color */
    font-weight: bold;
    font-family: 'Alegreya', 'Roboto', sans-serif;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('/assets/images/defineRole/index.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    background-color: #015c5d; /* Teal green background */
    color: white; /* White text */
    border: none; /* Remove borders */
    border-radius: 12px; /* Round corners */
    padding: 10px 20px; /* Padding */
    width: 200px; /* Set width */
    margin-top: 10px; /* Top margin for spacing */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Readable font size */
}

button:hover {
    background-color: #A62B1F; /* Bold red on hover */
}

.adminBtn {
    background-color: #f4f4f4; /* Light grey background */
    color: #333; /* Dark text for contrast */
    font-weight: bold; /* Emphasize text */
    width: 110px; /* Smaller, compact width */
    padding: 10px 0; /* Vertical padding only */
    border: none; /* Clean look */
    cursor: pointer; /* Indicates it's clickable */
}

.adminBtn:hover {
    color: #A62B1F; /* Change text color on hover for brand consistency */
}

.dashboard-btn {
    background-color: #015c5d; /* Base green background */
}

.dashboard-btn:hover {
    background-color: #A62B1F; /* Change to bold red on hover */
}

