/* this is the style sheet file for index.htlm  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 48px;
    margin-bottom: 50px;
    color: #003e3e;
    font-weight: bold;
    font-family: 'Alegreya', 'Roboto', sans-serif;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('/assets/images/defineRole/index.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    background-color: #015c5d; /* Teal green background */
    color: white; /* White text */
    border: none; /* Remove borders */
    border-radius: 12px; /* Round corners */
    padding: 10px 20px; /* Padding */
    width: 200px; /* Set width */
    margin-top: 10px; /* Top margin for spacing */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Readable font size */
}


button:hover {
    background-color: #A62B1F; /* Bold red on hover */
}

.dashboard-btn {
    background-color: #015c5d; /* Base green background */
}

.dashboard-btn:hover {
    background-color: #003e3e; /* Darken to deep teal on hover */
}

.button:focus {
    outline: none; /* Remove focus outline */
}

.input-field {
    width: 100%;
    max-width: 400px; /* Limit input field width */
    padding: 10px; /* Padding for input field */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Slightly rounded corners */
    font-size: 16px; /* Readable font size */
    margin-top: 10px; /* Top margin for spacing */
}

.select-dropdown {
    width: 100%;
    max-width: 400px; /* Limit dropdown width */
    padding: 10px; /* Padding for dropdown */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Slightly rounded corners */
    font-size: 16px; /* Readable font size */
    margin-top: 10px; /* Top margin for spacing */
}

.checkbox-group {
    display: flex;
    flex-direction: column; /* Stack checkboxes vertically */
    align-items: flex-start; /* Align checkboxes to the left */
    margin-top: 10px; /* Top margin for spacing */
}



.checkbox-group label {
    margin-bottom: 5px; /* Space between checkboxes */
    font-size: 16px; /* Readable font size */
}